.sectionContent {
    margin-top: 50px;
    width: 50%;
    display: flex;
    place-self: center;
    flex-direction: row;
    place-content: center;
}

.text {
    margin-right: 3em;
}

.algoForm {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.radioBtnContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 10px;
}

.compartilheSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.compartilheForm {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    width: 100%;
}

.compartilheInputContainer {
    display: flex;
    margin-bottom: 5rem;

}

@media (max-width: 800px) {
    .sectionContent {
        width: 100%;
        padding: 30px;
        flex-direction: column;
    }

    .algoForm {
        width: 100%;
        margin-top: 50px;
    }

    .radioBtnContainer {
        width: 50%;
    }

    .compartilheInputContainer {
        flex-direction: column;
    }
}